header{
    .navbar-menu{
        height: 70px;
        position: absolute;
        z-index: 99;
        width: 100%;
        opacity: 1;
        top: 0;
    }
    .navbar-brand{
        display: block;
        font-size: 30px;
        font-weight: 700;
        padding-left: 0;
        color: $white;
    }
    .navbar-collapse{
        ul{
            li{
                a{
                    font-size: 16px;
                    color: $white;
                    font-weight: 300;
                    display: inline-block;
                    padding: 15px 20px;
                    margin-right: 20px;
                    text-decoration: none;
                    transition: all 0.3s ease-in-out;
                    @include media-breakpoint-down(md){
                        font-size: 14px;
                    }
                    &:hover{
                        color: $theme-color !important;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
        }
    }
}