#testimonials{
    .section-heading{
        padding-top: 180px;
        padding-bottom: 60px;
        @include media-breakpoint-down(sm){
            padding-top: 60px;
            padding-bottom: 30px;
        }
        h2{
            color: #444;
            font-size: 50px;
            font-weight: 300;
            text-transform: uppercase;
            position: relative;
            display: block;
            line-height: 1.5;
            @include media-breakpoint-down(sm){
                font-size: 30px;
            }
        }
        hr{
            border-color: $theme-color;
            width: 80px;
            height: 2px;
            margin-bottom: 30px;
        }
        p{
            font-size: 22px;
            color: #929292;
            font-weight: 300;
            line-height: 1.5;
            margin: 0 0 30px 0;
            @include media-breakpoint-down(sm){
                font-size: 20px;
            }
        }
    }
    .box-testimony{
        margin-bottom: 2em;
        float: left;
        blockquote {
            padding-left: 0;
            border-left: none;
            padding: 30px;
            background: $white;
            background: $theme-color;
            font-size: 20px;
            font-weight: 300;
            position: relative;
            -webkit-border-radius: 7px;
            -moz-border-radius: 7px;
            -ms-border-radius: 7px;
            border-radius: 7px;
            &::after{
                content: "";
                position: absolute;
                top: 100%;
                left: 40px;
                border-top: 10px solid black;
                border-top-color: $white;
                border-top-color:$theme-color;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;

            }
            p{
                font-size: 20px;
                font-weight: 600;
                font-style: italic;
                color: $white;
                margin: 0 0 10px;
            }
        }
        .author {
            line-height: 20px;
            color: black;
            font-size: 16px;
            margin-left: 20px;
            font-weight: 400;
            > figure {
                float: left;
                margin-right: 10px;
                img {
                    width: 60px;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    border-radius: 50%;
                }
            }
            p {
                float: left;
                margin-top: 10px;
                margin-bottom: 20px;
                line-height: 26px;
                color: black;
                font-size: 16px;
                font-weight: 400;
                display: grid;
                span{
                    color: rgba(0, 0, 0, 0.5);
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }
    }
}