#work{
    padding-bottom: 150px;
    overflow: hidden;
    position: relative;
    color: rgba(255, 255, 255, 0.8);
    background-color: $theme-color;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMzZjk1ZWEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzUyZDNhYSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #3f95ea), color-stop(1, $theme-color));
    background-image: -webkit-repeating-linear-gradient(top left, #3f95ea 0%, $theme-color 100%);
    background-image: repeating-linear-gradient(to bottom right, #3f95ea 0%, $theme-color 100%);
    background-image: -ms-repeating-linear-gradient(top left, #3f95ea 0%, $theme-color 100%);
    &::before{
        top: 0;
        margin-top: -35px;
        position: absolute;
        transform: rotate(-1.7deg);
        -ms-transform: rotate(-1.7deg);
        -webkit-transform: rotate(-1.7deg);
        -o-transform: rotate(-1.7deg);
        -moz-transform: rotate(-1.7deg);
        background-color: $white;
        content: "";
        z-index: 3;
        display: inline-block;
        height: 70px;
        padding: 0;
        width: 101%;
    }
    &::after{
        bottom: 0;
        margin-bottom: -35px;
        position: absolute;
        transform: rotate(-1.7deg);
        -ms-transform: rotate(-1.7deg);
        -webkit-transform: rotate(-1.7deg);
        -o-transform: rotate(-1.7deg);
        -moz-transform: rotate(-1.7deg);
        background-color: $white;
        content: "";
        z-index: 3;
        display: inline-block;
        height: 70px;
        padding: 0;
        width: 101%;
    }
    .work-heading{
        padding-top: 180px;
        padding-bottom: 60px;
        @include media-breakpoint-down(sm){
            padding-top: 60px;
            padding-bottom: 30px;
        }
        h1{
            color: $white;
            font-size: 50px;
            font-weight: 300;
            text-transform: uppercase;
            position: relative;
            display: block;
            line-height: 1.5;
            @include media-breakpoint-down(sm){
                font-size: 30px;
            }
        }
        hr{
            border-color: rgba(255, 255, 255, 0.3);
            width: 80px;
            height: 2px;
            margin-bottom: 30px;
        }
        p{
            font-size: 24px;
            color: rgba(255, 255, 255, 0.8);
            font-weight: 300;
            line-height: 1.5;
            margin: 0 0 30px 0;
            @include media-breakpoint-down(sm){
                font-size: 20px;
            }
        }
    }
    .work-project{
        a{
            color: rgba(255, 255, 255, 0.5);
            text-decoration: underline;
            display: block;
            width: 100%;
            position: relative;
            top: 0;
            background: $white;
            overflow: hidden;
            z-index: 9;
            margin-bottom: 30px;
            -webkit-border-radius: 7px;
            -moz-border-radius: 7px;
            -ms-border-radius: 7px;
            border-radius: 7px;
            -webkit-transition: 0.3s;
            -o-transition: 0.3s;
            transition: 0.3s;
            &:hover{
                -webkit-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
                -moz-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
                -ms-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
                -o-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
                box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
                text-decoration: none;
                top: -15px;
            }
            img{
                z-index: 8;
                opacity: 1;
                -webkit-transition: 0.3s;
                -o-transition: 0.3s;
                transition: 0.3s;
            }
            .img-responsive {
                display: block;
                max-width: 100%;
                height: auto;
            }
        }
        .work-project-heading{
            padding: 10px 20px;
            h2{
                font-size: 16px;
                color: $black;
                font-weight: bold;
                margin: 0;
                line-height: 1.6;
            }
            span{
                color: #b3b3b3;
                font-size: 14px;
                font-weight: 400;
                text-decoration: none;
            }
        }
    }
}